.faq-q{
    color: #6CBE03;
    font-weight: 600;
    position: relative;
    left: 35px;
    top: 15px;
}
.faq-heading{
    position: relative;
    left: 35px;
    font-weight: 600;
}
.faq-para{
    position: relative;
    left: 35px;
    font-size: 14px;
}
.faq-p{
    color: #6CBE03;
    font-weight: 600;
    position: relative;
    left: 25px;
    top: 16px;
    border-bottom: 3px solid #6CBE03;
    width: 314px;
}
.faq-par{
    position: relative;
    left: 25px;
    top: 16px;
}
.faq-para-1{
    position: relative;
    left: 25px;
    top: 14px;
    font-weight: 600;
}